# Don't track content of these folders
r112_ppp/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.ali
*.so

*.so



# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.o
*.ali
*.ali
r101_InitiationDeveloppement/ada/tp10/main
r101_InitiationDeveloppement/ada/tp11/b~test_mot.adb
r101_InitiationDeveloppement/ada/tp11/b~test_mot.ads
r101_InitiationDeveloppement/ada/tp12/b~test_tris_tableau_par_insertion.adb
r101_InitiationDeveloppement/ada/tp12/b~test_tris_tableau_par_insertion.ads
