body {
	background-color: #001a2b;
	margin: 0;
}

header {
	position: fixed;
	width: 100%;
    padding: 40px 100px;
    z-index: 10000;
	background-color: #0000;
    align-items: center;
	transition: 0.5s;
}

header.sticky{
	justify-content: center;
	align-items: center;
    background: #fff;
    padding: 10px 100px;

}

.banner {
	height: 70vh;
	background: url(images/wall.jpg);
	background-size: cover;
	background-position: center;
}

p {
	margin-left: 35px;
	margin-right: 35px;
	color: #FFF;
	font-size: 1.3em;
}
#foot {
	margin-bottom: 0;
	background-color: lightcoral;
	width: 100%;
	height: 4vh;
}



@media (max-width: 991px){
	.banner {
	height: 50vh;
	}
}

@media (max-width: 480px){
    .banner {
    height: 35vh;

    }
}