h1{
	margin : 30px;
}

.wrapper{
	display : inline-flex;
	justify-content : space-between;
	width : 100%;
}

.formulaire{
	margin : 5px;
	margin-left : 50px;
}

.form{
	display : flex;
	flex-flow : column;
	width : 30%;
	margin : 5px;
}

form{
	width : 100%;
	flex-flow : column;
	display : flex;
}

.remplir{
	margin-top : 5px;
}

.envoyer{
	margin : 5px;
}

.message{
	width : 65%;
	margin : 5px;
}

.second-part {
	display : inline-flex;
	width : 95%;
	justify-content : space-between;
	margin-top : 20px;
	padding : 20px;
}

#photo-iut{
	max-height : 350px;
	width : 38%;
	margin : 5px;
}

.wrapper-2{
	display : flex;
	flex-flow : column;
	width : 58%;
	margin : 5px;
	align-items : center;
}

#maps{
	max-height : 300px;
	width : 100%;
	max-width : 600px;
	margin : 5px;
}

.adresse{
	padding : 10px;
	margin : 5px;
}   